.header{
   background-color: #3874ff;
   padding: 10px 20px;
   margin-bottom: 150px;
   border-radius: 10px;
}

.footer {
   text-align: center;
   background-color: #3874ff;
   padding: 20px;
   margin-top: 80px;
   border-radius: 10px;
}